In [17]:
import pandas as pd

# ============================
# 1. Load all datasets
# ============================
daily_trade_prices = pd.read_csv("data/daily_trade_prices.csv")
dim_customer = pd.read_csv("data/dim_customer.csv")
dim_date = pd.read_csv("data/dim_date.csv")
dim_stock = pd.read_csv("data/dim_stock.csv")
trades = pd.read_csv("data/trades.csv")

# ============================
# 2. Preview first 5 rows
# ============================
print("=== daily_trade_prices ===")
display(daily_trade_prices.head())

print("\n=== dim_customer ===")
display(dim_customer.head())

print("\n=== dim_date ===")
display(dim_date.head())

print("\n=== dim_stock ===")
display(dim_stock.head())

print("\n=== trades ===")
display(trades.head())

# ============================
# 3. Missing value summary
# ============================
print("\n=== Missing Values: daily_trade_prices ===")
print(daily_trade_prices.isna().sum())

print("\n=== Missing Values: dim_customer ===")
print(dim_customer.isna().sum())

print("\n=== Missing Values: dim_date ===")
print(dim_date.isna().sum())

print("\n=== Missing Values: dim_stock ===")
print(dim_stock.isna().sum())

print("\n=== Missing Values: trades ===")
print(trades.isna().sum())

=== daily_trade_prices ===

,date,STK001,STK002,STK003,STK004,STK005,STK006,STK007,STK008,STK009,...,STK011,STK012,STK013,STK014,STK015,STK016,STK017,STK018,STK019,STK020
0,2023-01-02,130.215257,143.732847,10.829021,41.721087,145.478750,136.613229,193.549026,154.597180,190.646814,...,66.629920,30.019335,158.546534,132.388352,19.155342,78.409589,191.791965,105.076218,92.218536,96.962925
1,2023-01-03,127.931982,141.811103,10.840378,42.372205,150.451171,131.081439,189.433498,156.245870,188.642260,...,67.403967,NaN,157.962636,132.316777,19.495879,81.278706,196.519348,105.143629,93.324523,NaN
2,2023-01-04,126.531338,139.814796,10.824561,43.273956,150.121855,132.287593,185.192571,153.568772,199.054913,...,65.541600,28.336211,157.022235,128.554686,19.489534,79.565899,195.192089,106.084249,93.996184,96.034921
3,2023-01-05,127.837687,140.885311,10.874388,43.307331,154.264000,127.534322,189.023341,155.642891,NaN,...,66.558603,27.706730,154.660460,120.788272,18.989024,83.375297,193.497711,104.311590,92.687024,96.281810
4,2023-01-06,127.140842,143.103993,11.212466,46.389494,151.434469,125.356736,185.290655,155.942939,203.068155,...,67.339732,27.283299,159.619771,112.131796,18.700643,80.443424,189.787155,109.664184,88.463448,97.103757

=== dim_customer ===

   customer_key  customer_id account_type  avg_trade_size_baseline
0             1            1       Retail               216.919900
1             2            2       Retail                71.936692
2             3            3       Retail               178.906048
3             4            4       Retail               214.291567
4             5            5       Retail               170.590392

=== dim_date ===

,date_key,date,day,month,month_name,quarter,year,day_of_week,day_name,is_weekend,is_holiday
0,20230102,2023-01-02,2,1,January,1,2023,1,Monday,False,False
1,20230103,2023-01-03,3,1,January,1,2023,2,Tuesday,False,False
2,20230104,2023-01-04,4,1,January,1,2023,3,Wednesday,False,False
3,20230105,2023-01-05,5,1,January,1,2023,4,Thursday,False,False
4,20230106,2023-01-06,6,1,January,1,2023,5,Friday,False,False

=== dim_stock ===

,stock_key,stock_ticker,company_name,liquidity_tier,sector,industry
0,1,STK001,STK001 Corp,Low,Energy,Utilities
1,2,STK002,STK002 Corp,Low,Consumer,Retail
2,3,STK003,STK003 Corp,Low,Technology,Software
3,4,STK004,STK004 Corp,Low,Finance,Asset Management
4,5,STK005,STK005 Corp,Low,Energy,Renewables

=== trades ===

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,cumulative_portfolio_value
0,1,2023-01-02,4747,STK002,BUY,15,15.00,2155.99
1,2,2023-01-02,4747,STK004,BUY,68,41.50,4993.03
2,3,2023-01-02,227,STK006,BUY,49,49.00,6694.05
3,4,2023-01-02,4747,STK006,BUY,503,195.33,73709.48
4,5,2023-01-02,3938,STK006,BUY,203,203.00,27732.49

=== Missing Values: daily_trade_prices ===
date       0
STK001    42
STK002     0
STK003     0
STK004    54
STK005     0
STK006     0
STK007     0
STK008     0
STK009    57
STK010     0
STK011     0
STK012    36
STK013     0
STK014     0
STK015     0
STK016     0
STK017     0
STK018     0
STK019    54
STK020    57
dtype: int64

=== Missing Values: dim_customer ===
customer_key               0
customer_id                0
account_type               0
avg_trade_size_baseline    0
dtype: int64

=== Missing Values: dim_date ===
date_key       0
date           0
day            0
month          0
month_name     0
quarter        0
year           0
day_of_week    0
day_name       0
is_weekend     0
is_holiday     0
dtype: int64

=== Missing Values: dim_stock ===
stock_key         0
stock_ticker      0
company_name      0
liquidity_tier    0
sector            0
industry          0
dtype: int64

=== Missing Values: trades ===
transaction_id                0
timestamp                     0
customer_id                   0
stock_ticker                  0
transaction_type              0
quantity                      0
average_trade_size            0
cumulative_portfolio_value    0
dtype: int64

In [18]:
# ---------------------------------------------
# Impute missing stock prices using Forward Fill
# ---------------------------------------------
# Reason:
# Stock prices form a time-series where today's price is strongly dependent 
# on yesterday's price. Forward filling (ffill) is the most appropriate 
# technique because:
#   1) It prevents future leakage (we never use future prices to fill past prices).
#   2) It preserves realistic price continuity in financial data.
#   3) It is a standard imputation technique in stock time-series datasets.
#
# Weekly mean or overall mean would artificially smooth the data and use 
# future information, which is not valid for stock analytics.
#
daily_trade_prices = daily_trade_prices.ffill()

In [19]:
print("\n=== Missing Values: daily_trade_prices ===")
print(daily_trade_prices.isna().sum())

=== Missing Values: daily_trade_prices ===
date      0
STK001    0
STK002    0
STK003    0
STK004    0
STK005    0
STK006    0
STK007    0
STK008    0
STK009    0
STK010    0
STK011    0
STK012    0
STK013    0
STK014    0
STK015    0
STK016    0
STK017    0
STK018    0
STK019    0
STK020    0
dtype: int64

In [20]:
import numpy as np
datasets = {
    "daily_trade_prices": daily_trade_prices,
    "dim_customer": dim_customer,
    "dim_date": dim_date,
    "dim_stock": dim_stock,
    "trades": trades
}

def iqr_outlier_mask(series):
    if series.dropna().empty:
        return pd.Series([False]*len(series), index=series.index)
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    return (series < lower) | (series > upper)

results = {}
for name, df in datasets.items():
    numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
    summary_rows = []
    for col in numeric_cols:
        series = df[col]
        mask = iqr_outlier_mask(series)
        n = int(series.dropna().shape[0])
        n_outliers = int(mask.sum())
        pct_outliers = (n_outliers / n * 100) if n > 0 else 0.0
        summary_rows.append({
            "column": col,
            "n_non_null": n,
            "n_outliers": n_outliers,
            "pct_outliers": round(pct_outliers, 4),
            "flag_gt_10pct": pct_outliers > 10.0
        })
    results[name] = pd.DataFrame(summary_rows).sort_values(by="pct_outliers", ascending=False).reset_index(drop=True)

# Print per-dataset result summary
for name, df_res in results.items():
    print(f"\n=== Dataset: {name} ===")
    if df_res.empty:
        print("No numeric columns found.")
    else:
        print(df_res.to_string(index=False))
        flagged = df_res[df_res['flag_gt_10pct']]
        if not flagged.empty:
            print("\nColumns with >10% outliers (IQR method):")
            print(flagged.to_string(index=False))
        else:
            print("\nNo numeric columns exceed 10% outliers (IQR method).")

=== Dataset: daily_trade_prices ===
column  n_non_null  n_outliers  pct_outliers  flag_gt_10pct
STK001         504          78       15.4762           True
STK007         504          32        6.3492          False
STK019         504          23        4.5635          False
STK003         504          19        3.7698          False
STK004         504           9        1.7857          False
STK009         504           3        0.5952          False
STK014         504           1        0.1984          False
STK011         504           1        0.1984          False
STK002         504           0        0.0000          False
STK006         504           0        0.0000          False
STK008         504           0        0.0000          False
STK005         504           0        0.0000          False
STK012         504           0        0.0000          False
STK010         504           0        0.0000          False
STK015         504           0        0.0000          False
STK013         504           0        0.0000          False
STK016         504           0        0.0000          False
STK017         504           0        0.0000          False
STK018         504           0        0.0000          False
STK020         504           0        0.0000          False

Columns with >10% outliers (IQR method):
column  n_non_null  n_outliers  pct_outliers  flag_gt_10pct
STK001         504          78       15.4762           True

=== Dataset: dim_customer ===
                 column  n_non_null  n_outliers  pct_outliers  flag_gt_10pct
           customer_key        5000           0           0.0          False
            customer_id        5000           0           0.0          False
avg_trade_size_baseline        5000           0           0.0          False

No numeric columns exceed 10% outliers (IQR method).

=== Dataset: dim_date ===
     column  n_non_null  n_outliers  pct_outliers  flag_gt_10pct
   date_key         504           0           0.0          False
        day         504           0           0.0          False
      month         504           0           0.0          False
    quarter         504           0           0.0          False
       year         504           0           0.0          False
day_of_week         504           0           0.0          False

No numeric columns exceed 10% outliers (IQR method).

=== Dataset: dim_stock ===
   column  n_non_null  n_outliers  pct_outliers  flag_gt_10pct
stock_key          20           0           0.0          False

No numeric columns exceed 10% outliers (IQR method).

=== Dataset: trades ===
                    column  n_non_null  n_outliers  pct_outliers  flag_gt_10pct
        average_trade_size       10000        2525         25.25           True
cumulative_portfolio_value       10000        1037         10.37           True
                  quantity       10000         765          7.65          False
            transaction_id       10000           0          0.00          False
               customer_id       10000           0          0.00          False

Columns with >10% outliers (IQR method):
                    column  n_non_null  n_outliers  pct_outliers  flag_gt_10pct
        average_trade_size       10000        2525         25.25           True
cumulative_portfolio_value       10000        1037         10.37           True

In [21]:
import pandas as pd
import numpy as np

# -------------------------------------------------------
# Function: detect extreme outliers and compare them
# -------------------------------------------------------
def extreme_outlier_comparison(series, multiplier=1.5):
    """
    Detects and returns:
      - highest outlier
      - highest non-outlier
      - lowest outlier
      - lowest non-outlier
    using the IQR (Interquartile Range) method.
    """

    # Ensure numeric series and drop NA upfront
    series = pd.to_numeric(series, errors='coerce').dropna()

    if len(series) == 0:
        return {
            "lower_bound": None,
            "upper_bound": None,
            "lowest_outlier": None,
            "lowest_non_outlier": None,
            "highest_outlier": None,
            "highest_non_outlier": None,
            "n_outliers": 0,
            "n_non_outliers": 0
        }

    # Compute IQR bounds
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1

    lower = q1 - multiplier * iqr
    upper = q3 + multiplier * iqr

    # Boolean mask for outliers
    outlier_mask = (series < lower) | (series > upper)

    # Separate values
    outliers = series[outlier_mask]
    non_outliers = series[~outlier_mask]

    results = {
        "lower_bound": lower,
        "upper_bound": upper,
        "lowest_outlier": outliers.min() if len(outliers) else None,
        "lowest_non_outlier": non_outliers.min() if len(non_outliers) else None,
        "highest_outlier": outliers.max() if len(outliers) else None,
        "highest_non_outlier": non_outliers.max() if len(non_outliers) else None,
        "n_outliers": len(outliers),
        "n_non_outliers": len(non_outliers)
    }

    return results

In [22]:
extreme_outlier_comparison(trades['average_trade_size'], multiplier=1.5)
#extreme_outlier_comparison(trades['cumulative_portfolio_value'], multiplier=3)
#extreme_outlier_comparison(daily_trade_prices['STK001'], multiplier=1.5)

{'lower_bound': np.float64(121.72625000000004),
 'upper_bound': np.float64(267.17625),
 'lowest_outlier': np.float64(8.0),
 'lowest_non_outlier': np.float64(121.78),
 'highest_outlier': np.float64(3401.0),
 'highest_non_outlier': np.float64(267.05),
 'n_outliers': 2525,
 'n_non_outliers': 7475}

In [23]:
import numpy as np

# ============================================================
# Handling cumulative_portfolio_value using Log Transformation
# ============================================================

# Why log transformation?
# -----------------------
#  this column show more than 10% outliers, but they represent 
# meaningful financial quantities where extreme values are realistic 
# ( large portfolio values). 
#
# Capping or winsorizing would distort financial interpretation, 
# and deleting rows is not acceptable for time-series trade data.
#
# Log transformation is commonly used in portfolio analytics because:
#   • It reduces the impact of extreme values (skewness reduction)
#   • Preserves the relative differences between observations
#   • Keeps all original data intact
#   • Converts heavy-tailed distributions into more stable ones
#
# We use log1p(x) = log(1 + x) to safely handle zero values.

# ------------------------------------------------------------
# Create log-transformed columns (keeping originals untouched)
# ------------------------------------------------------------
trades['cumulative_portfolio_value_log'] = np.log1p(trades['cumulative_portfolio_value'])
# I will not handle the outliers in STK001 as , the value of the outliers is not far from the boundaries , They are real and meaningful
# and Although STK001 had slightly above 10% statistical outliers, these outliers represent normal financial volatility, not erroneous data.
#  Therefore, i will not modify stock price values.


# I will not handle the outliers in average_trade_size as average_trade_size has a heavy-tailed distribution
#  and contains natural outliers caused by large trade orders. 
# Applying transformations such as log and Box–Cox did not meaningfully 
# reduce the outlier ratio without distorting the financial interpretation. Therefore, I preserve the original values

# I handled outliers in cumulative_portfolio_value , Portfolio values span a huge range.Outliers represent
#  wealthy customers or long trading history.
#  so I Keep the raw column (required), Add the log column as supplemental analysis
# I did not remove or cap outliers




print("Log transformation successfully applied.")
print("New columns created: cumulative_portfolio_value_log")

Log transformation successfully applied.
New columns created: cumulative_portfolio_value_log

In [24]:
# ---- Customer ID consistency ----
invalid_customers = trades[~trades['customer_id'].isin(dim_customer['customer_id'])]

print("Invalid Customer IDs:", len(invalid_customers))
display(invalid_customers.head())

# ---- Stock Ticker consistency ----
invalid_tickers = trades[~trades['stock_ticker'].isin(dim_stock['stock_ticker'])]

print("Invalid Stock Tickers:", len(invalid_tickers))
display(invalid_tickers.head())

Invalid Customer IDs: 0

Empty DataFrame
Columns: [transaction_id, timestamp, customer_id, stock_ticker, transaction_type, quantity, average_trade_size, cumulative_portfolio_value, cumulative_portfolio_value_log]
Index: []

Invalid Stock Tickers: 0

Empty DataFrame
Columns: [transaction_id, timestamp, customer_id, stock_ticker, transaction_type, quantity, average_trade_size, cumulative_portfolio_value, cumulative_portfolio_value_log]
Index: []

In [25]:
# Check categories for inconsistencies
print("Transaction types:", trades['transaction_type'].unique())
print("Account types:", dim_customer['account_type'].unique())
print("Stock sectors:", dim_stock['sector'].unique())
print("Stock industry:", dim_stock['industry'].unique())

Transaction types: ['BUY' 'SELL']
Account types: ['Retail' 'Institutional']
Stock sectors: ['Energy' 'Consumer' 'Technology' 'Finance' 'Healthcare']
Stock industry: ['Utilities' 'Retail' 'Software' 'Asset Management' 'Renewables'
 'Oil & Gas' 'Hardware' 'Pharmaceuticals']

In [26]:
invalid_qty = trades[trades['quantity'] <= 0]
print("Invalid quantity rows:", len(invalid_qty))
display(invalid_qty.head())

Invalid quantity rows: 0

Empty DataFrame
Columns: [transaction_id, timestamp, customer_id, stock_ticker, transaction_type, quantity, average_trade_size, cumulative_portfolio_value, cumulative_portfolio_value_log]
Index: []

In [27]:
invalid_avg_trade_size = trades[trades['average_trade_size'] < 0]
print("Invalid average_trade_size:", len(invalid_avg_trade_size))

Invalid average_trade_size: 0

In [28]:
invalid_port_val = trades[trades['cumulative_portfolio_value'] < 0]
print("Invalid portfolio values:", len(invalid_port_val))

Invalid portfolio values: 0

In [29]:
# Extract date only
trades['date_only'] = pd.to_datetime(trades['timestamp']).dt.date

invalid_dates = trades[~trades['date_only'].astype(str).isin(dim_date['date'].astype(str))]
print("Trades with inconsistent dates:", len(invalid_dates))

Trades with inconsistent dates: 0

Although the trades dataset included a column named timestamp, the values contained only date components without a time component (e.g., 2024-05-11).
This represents a naming inconsistency (semantic inconsistency) because the column name suggests datetime granularity.
To correct this and improve schema clarity, the column was renamed to trade_date, ensuring consistency with the data it stores and alignment with the format in dim_date.

In [30]:
# Rename timestamp → trade_date because data contains dates only
trades.rename(columns={'timestamp': 'trade_date'}, inplace=True)

# Confirm
trades.head()

,transaction_id,trade_date,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,cumulative_portfolio_value,cumulative_portfolio_value_log,date_only
0,1,2023-01-02,4747,STK002,BUY,15,15.00,2155.99,7.676469,2023-01-02
1,2,2023-01-02,4747,STK004,BUY,68,41.50,4993.03,8.515998,2023-01-02
2,3,2023-01-02,227,STK006,BUY,49,49.00,6694.05,8.809124,2023-01-02
3,4,2023-01-02,4747,STK006,BUY,503,195.33,73709.48,11.207900,2023-01-02
4,5,2023-01-02,3938,STK006,BUY,203,203.00,27732.49,10.230396,2023-01-02

In [31]:
import pandas as pd
import numpy as np


# --- CONFIG ---
output_path = 'data/final_dataset.csv'

# --- Ensure date types and names ---
trades['trade_date'] = pd.to_datetime(trades['trade_date']).dt.date
daily_trade_prices['date'] = pd.to_datetime(daily_trade_prices['date']).dt.date
dim_date['date'] = pd.to_datetime(dim_date['date']).dt.date

# --- 1) Wide -> Long for daily prices ---
price_long = pd.melt(
    daily_trade_prices,
    id_vars=['date'],
    var_name='stock_ticker',
    value_name='stock_price'
)
price_long['stock_ticker'] = price_long['stock_ticker'].astype(str).str.strip()

# --- 2) Merge trades with price on (trade_date, stock_ticker) ---
merged = trades.merge(
    price_long,
    left_on=['trade_date', 'stock_ticker'],
    right_on=['date', 'stock_ticker'],
    how='left',
    validate='m:1'
)

# Drop the redundant 'date' from price_long keep trade_date as canonical
if 'date' in merged.columns:
    merged = merged.drop(columns=['date'])

# --- 3) Merge customer attributes (account type) ---
dim_customer_ren = dim_customer.rename(columns={'account_type': 'customer_account_type'})
merged = merged.merge(
    dim_customer_ren[['customer_id', 'customer_account_type']],
    on='customer_id',
    how='left',
    validate='m:1'
)

# --- 4) Merge date attributes from dim_date (day_name, is_weekend, is_holiday) ---
# dim_date has column 'date' which we will join to trades.trade_date
merged = merged.merge(
    dim_date[['date', 'day_name', 'is_weekend', 'is_holiday']],
    left_on='trade_date',
    right_on='date',
    how='left',
    validate='m:1'
)

# drop the joined 'date' (we keep trade_date)
if 'date' in merged.columns:
    merged = merged.drop(columns=['date'])

# --- 5) Merge stock metadata ---
dim_stock_ren = dim_stock.rename(columns={
    'liquidity_tier': 'stock_liquidity_tier',
    'sector': 'stock_sector',
    'industry': 'stock_industry'
})
merged = merged.merge(
    dim_stock_ren[['stock_ticker', 'stock_liquidity_tier', 'stock_sector', 'stock_industry']],
    on='stock_ticker',
    how='left',
    validate='m:1'
)

# --- 6) Ensure numeric and compute total_trade_amount ---
merged['stock_price'] = pd.to_numeric(merged['stock_price'], errors='coerce')
merged['quantity'] = pd.to_numeric(merged['quantity'], errors='coerce')
merged['total_trade_amount'] = merged['stock_price'] * merged['quantity']

# --- 7) Final columns in required order ---
final_cols = [
    'transaction_id',
    'trade_date',
    'customer_id',
    'stock_ticker',
    'transaction_type',
    'quantity',
    'average_trade_size',
    'stock_price',
    'total_trade_amount',
    'customer_account_type',
    'day_name',
    'is_weekend',
    'is_holiday',
    'stock_liquidity_tier',
    'stock_sector',
    'stock_industry'
]

# Check presence of expected columns
missing = [c for c in final_cols if c not in merged.columns]
if missing:
    msg = f"ERROR: missing expected columns after merges: {missing}"

    # fail loudly so user can fix upstream problem (typo, rename, etc.)
    raise KeyError(msg)

# Select and reorder columns exactly as requested
final_df = merged[final_cols].copy()

# Reset index to clean 0..N-1
final_df = final_df.reset_index(drop=True)

# Sanity prints
print("Final dataframe shape:", final_df.shape)
print("Columns:", final_df.columns.tolist())

# Save the full final dataset (not a sample)
final_df.to_csv(output_path, index=False)
print(f"Full final dataset saved to: {output_path}")

Final dataframe shape: (10000, 16)
Columns: ['transaction_id', 'trade_date', 'customer_id', 'stock_ticker', 'transaction_type', 'quantity', 'average_trade_size', 'stock_price', 'total_trade_amount', 'customer_account_type', 'day_name', 'is_weekend', 'is_holiday', 'stock_liquidity_tier', 'stock_sector', 'stock_industry']
Full final dataset saved to: data/final_dataset.csv

In [32]:
display(final_df.head())
print(price_long.shape)

,transaction_id,trade_date,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,stock_price,total_trade_amount,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry
0,1,2023-01-02,4747,STK002,BUY,15,15.00,143.732847,2155.992711,Retail,Monday,False,False,Low,Consumer,Retail
1,2,2023-01-02,4747,STK004,BUY,68,41.50,41.721087,2837.033907,Retail,Monday,False,False,Low,Finance,Asset Management
2,3,2023-01-02,227,STK006,BUY,49,49.00,136.613229,6694.048200,Retail,Monday,False,False,High,Energy,Oil & Gas
3,4,2023-01-02,4747,STK006,BUY,503,195.33,136.613229,68716.453976,Retail,Monday,False,False,High,Energy,Oil & Gas
4,5,2023-01-02,3938,STK006,BUY,203,203.00,136.613229,27732.485402,Retail,Monday,False,False,High,Energy,Oil & Gas

(10080, 3)